:root {
  --primary: #369c38;
  --secondary: #132a13;
  --padding: 15px;
  --gray: #405040;
  --gray-light: #dedede;
}

* {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 400px;
  padding: 30px;
  margin: 0 auto;
}
